# Ignore node_modules for both apps
nextjs-gabriels-kokebok/node_modules/
studio-gabriels-kokebok/node_modules/
node_modules/

# Ignore build files for Next.js
nextjs-gabriels-kokebok/.next/
nextjs-gabriels-kokebok/.vercel/
nextjs-gabriels-kokebok/out/

# Ignore build files for Sanity Studio
studio-gabriels-kokebok/.sanity/
studio-gabriels-kokebok/dist/

# Ignore lock files (if using Yarn or PNPM)
yarn.lock
pnpm-lock.yaml

# Ignore local environment variables
.env
nextjs-gabriels-kokebok/.env.local
studio-gabriels-kokebok/.env.local

# Ignore logs and cache files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.next/cache/

# Ignore VS Code settings
.vscode/

# Ignore macOS and system files
.DS_Store
Thumbs.db
